/*
body {
  background: #f9f9f9;
}
*/

h3 {
  color: #043D5D;
  font-weight: bold;
  font-size: 18px;
}

h4 {
  color: #4D6D7E;
  font-size: 14px;
  font-weight: bold;
}
.checkbox {
  accent-color: #043D5D
}

.control-label {
  color: #4D6D7E;
}

/*
.tab-content {
  background: #f9f9f9;
}
*/

.well {
  /*background-color: #f9f9f9;*/
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

/* navigation pills for panels */

.nav {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Montserrat" !important;
}

.nav-pills > li > a {
  /*background: #f9f9f9;*/
  color: #043D5D;
  height: 30px;
  width: 240px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.nav-pills > li span {
  padding: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background: white;
}


.nav-pills > li.active span, .nav-pills > li.active span:focus, .nav-pills > li.active span:hover {
  color: #043D5D;
  border-bottom: solid #043D5D 1.5px;
  border-radius: 0;
}

/* handle for year slider */

.irs--shiny {
  left: 10px;
  width: 90%;
}

.irs--shiny .irs-handle {
  top: 20px;
  width: 17px;
  height: 17px;
  border: none;
  background-color: #6FA0A2;
  box-shadow: none;
}


.irs--shiny .irs-handle.state_hover, .irs--shiny .irs-handle:hover {
  background: #93B8BA;
}

.irs--shiny .irs-min {
  background: none;
  font-size: 14px;
}

.irs--shiny .irs-max {
  background: none;
  font-size: 14px;
}

.irs--shiny .irs-from {
  background: none;
  font-size: 14px;
  color: black;
}

.irs--shiny .irs-to {
  background: none;
  font-size: 14px;
  color: black;
}

.irs--shiny .irs-single {
  background: none;
  font-size: 14px;
  color: black;
}

.irs--shiny .irs-line {
  border: none;
  background: lightgray;
}

.irs--shiny .irs-bar {
  border: none;
  background: #6FA0A2;
}

.irs--shiny .irs-grid-pol {
  background: none;
}

.irs--shiny .irs-grid-pol.small {
  background: none;
}

.irs-grid-text {
  font-size: 14px;
}

/*radio button formatting*/

.radio-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-button label {
  display: inline-block;
  background-color: white;
  padding: 3px 5px;
  font-size: 14px;
  border: 1.5px solid black;
  border-radius: 4px;
  width: 55px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: white;
  padding: 3px 5px;
  font-size: 14px;
  border: 1.5px solid black;
  border-radius: 4px;
  font-weight: bold;
}

.radio-button label:hover {
  background-color: #DBDDDE;
}

.radio-button input[type="radio"]:checked+label {
  background-color: #043D5D;
  border-color: black;
  color: white;
}


/*no background for d3 graphs*/

svg {
  background: none !important;
}


/*fish saved block*/
#fish-saved-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #6FA0A2;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  font-family: "Montserrat" !important;
  min-width: 340px;
}

.fish-saved-image {
  background-size: 100% auto;
  height: 200px;
}

.snapper {
    background-image: url("snapper.jpeg");
}

.gag {
    background-image: url("gag.jpg");
}

.grouper {
    background-image: url("grouper.jpeg");
}

#fish-saved-title {
  font-size:24px;
  font-weight: normal;
  height: 45px;
}

#fish-saved-amount {
  font-size:48px;
  margin-top: -5px;
  margin-bottom: -15px;
}


/*fish saved narrative*/
#fish-saved-narrative {
  text-align: center;
  font-size: 16px;
  margin-top: -25px;
}

.narrative_emphasis {
  color: #6FA0A2;
  font-weight: bold;
}

.tabicon {
  width: 18px;
}



/* New mobile desktop layout stuff*/
.responsive-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.filters-panel {
  /*flex: 0 0 320px;*/
  height: 450px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-right: 0px;
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 0px;
  background: white;
  font-family: "Montserrat";
  min-width: 300px;
  max-width: 300px;
}

#filters-panel {
  height: 400px;
}

#filters-panel-2 {
  height: 400px;
}

#scenario-panel-middle {
  padding: 0;
  min-width: 300px;
  margin-right: 15px;
  max-width: 424px;
}

#scenario-choice-panel {
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;
  font-family: "Montserrat" !important;
  min-width: 340px;
}

/*dont show min and max above*/ 
#scenario-choice-panel .irs-min, #scenario-choice-panel .irs-max, #scenario-choice-panel .irs-single {
  display: none;
}

/*move actual slider up*/ 
#scenario-choice-panel .irs--shiny {
  margin-top: -20px;
}

.graph-panel {
  flex: 1;
}

.mobile-toggle {
  display: none;
  margin-bottom: 10px;
}

#scenariocharttitle, #historicalcharttitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  height: 0px;
  margin-top: 20px;
}

/* Mobile layout */
@media (max-width: 900px) {
  .responsive-container {
    flex-direction: column;
  }

/*commented out*/
  .filters-panel, .graph-panel {
    width: 100% !important;
  }

  .mobile-toggle {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    background-color: #043D5D;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }

  .mobile-hidden {
    display: none;
  }

 
 .filters-panel {
    width: 100% !important;
    margin: auto;
  }
  
  #scenario-choice-panel {
    margin-left: 15px;
    min-width: 300px
  }
  
  #scenariochart, #fish_saved_text {
    height: 350px !important;
    min-width: 300px !important;
  }
  
  #fish-saved-block, #scenariochartpanel {
    min-width: 300px !important;
  }
  
  #fish_saved_text {
    margin-left: 15px;
  }
  
  /* make navigation pills stack */
  .nav-pills {
    display: flex;
    flex-direction: column;
  }
  

  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    margin-top: 5px;
  }
  
  .nav-pills > li > a {
    margin-top: 5px;
  }
  
  #about-page {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  #scenario-choice-panel {
    min-width: 310px;
  }
  
  
  #scenario-choice-label{
    font-size:13px;
  }
  
  #scenariocharttitle {
    height: 0px;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 20px;
    width: 100%;
  }

}

/* new for the filter buttons */
.checkbox input[type="checkbox"] {
  display: none;
}

.radio input[type="radio"] {
  display: none;
}

.checkbox, .radio {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid #043D5D;
  border-radius: 4px;
  height: 38px;
  position: relative;
  box-shadow: 2px 2px 1px lightgray;
}

.checkbox:hover, .radio:hover {
  background-color: #F0F3F5;
}


.checkbox label, .radio label {
  padding-left: 0px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.checkbox:has(input:checked), .radio:has(input:checked) {
  background-color: #043D5D;
  border-color: black;
  color: white;
}

.checkbox:has(input:checked):hover, .radio:has(input:checked):hover {
  background-color: #144A68;
}


.nodatasection {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}


.irs-handle.from {
  z-index: 3 !important;
}

td, th {
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.well {
  background: none;
}

#scenariochart {
  height: 350px !important;
  max-width: 479px;
}

/* style disabled inputs */
.checkbox:has(input:disabled) {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border-color: #a0a0a0;
}

.checkbox:has(input:disabled):hover {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border-color: #a0a0a0;
}

#scenariochartpanel {
  margin:auto;
  padding:0;
  min-width: 330px;
}

/* accordion panels about page */
.accordion, .accordion-bottom {
  color: #043D5D;
  font-weight: bold;
  font-size: 18px;
  background: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


.accordion:hover,.accordion-bottom:hover {
  color: #6FA0A2;
}

/*style accordion panel*/
.panel {
  padding: 0 18px;
  background: none;
  display: none;
  overflow: hidden;
  box-shadow: none;
  font-size: 15px;
}

ol {
  padding-left: 15px;
}


ul {
  list-style-type: disc;
}

li {
  padding-left: 10px;
}
    
li::marker {
  font-weight: bold;
}

ol > li {
  padding-bottom:10px;
}

h5 {
  font-style: italic;
  color: #043D5D;
}

.small-list {
  margin-left: 20px;
}
.small-list > li{
  padding-bottom:0px;
}

.small-list > li::marker {
  font-weight: normal;
}

caption {
  color: #043D5D;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}

th {
  border-bottom: 2px solid black;
}

ul ul {
  list-style-type: circle;
}

.links-sublist li {
  margin-bottom: 10px;
  margin-top: 10px;
}

#about-page {
  font-family: "Montserrat" !important;
}


.accordion-arrow {
  transition: transform 0.3s ease; 
}

.accordion-arrow.rotate {
  transform: rotate(180deg); 
}

.infoicon {
  width: 15px;
  margin-bottom: 5px;
}

.tooltip {
  position: relative;
  display: inline;
  cursor: pointer;  
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  /*background-color: #f9f9f9;*/
  color: #043D5D;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  right: 5px;
  margin-left: -65px;
  padding: 5px;
  border: 1px solid lightgray;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
